/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: Century Gothic, Arial;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;

}

html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
	box-sizing: border-box; /* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
}
*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
p { font-size: 14px;}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

/* --- AANPASSINGEN HIERONDER ---- */

body{
	font-family: Century Gothic, Arial; 
}

nav{
	width: 100%;
	height:150px;
	background: #000000;
	text-align:center;
}

.logo{
	background:#000000 url("uva.gif") no-repeat;
	background-size: 150px 150px;
	float:left;
	height:150px;
	width:150px;
	display:block;
}

.pic_1{
	background: url("sunset.jpg") no-repeat;
	background-size: 600px 400px;
	float: left;
	height: 400px;
	width: 700px;
	display: block;
	margin-left: 35px;
}

.pic_2{
	background: url("sunset-for-web-3.gif") no-repeat;
	background-size: 600px 400px;
	padding-top: 10px;
	float: right;
	height: 400px;
	width: 700px;
	display: block;
	margin: -65px;
	margin-top: 0px;
}

.pic_3{
	background: url("homepage.jpg") no-repeat;
	background-size: 600px 400px;
	float: left;
	height: 400px;
	width: 700px;
	display: block;
	margin-left: 35px;
}

.pic_4{
	background: url("mijn_studieresultaten.jpg") no-repeat;
	background-size: 600px 400px;
	padding-top: 10px;
	float: right;
	height: 400px;
	width: 700px;
	display: block;
	margin: -65px;
	margin-top: 0px;
}

.pic_5{
	background: url("homepagina_website.png") no-repeat;
	background-size: 600px 400px;
	float: left;
	height: 400px;
	width: 700px;
	display: block;
	margin-left: 35px;
}

.pic_6{
	background: url("ik_wil_mijn_was_afleveren.png") no-repeat;
	background-size: 600px 400px;
	padding-top: 10px;
	float: right;
	height: 400px;
	width: 700px;
	display: block;
	margin: -65px;
	margin-top: 0px;
}

.pic_7{
	background: url("ik_wil_mijn_was_ophalen.png") no-repeat;
	background-size: 600px 400px;
	height: 400px;
	width: 700px;
	display: block;
	float: left;
	margin: 35px;
}

nav a{
	font-size:25px;
	padding: 0 45px;
	color:#FFFFFF;
	text-decoration:none;
	line-height:150px;
}

nav a:first-child{
	padding-left:0;
}

nav a:last-child{
	padding-right:0;
}

.content{
	padding: 20px 0;
}

.content p {
	font-size: 15px;
    color: black;
	text-align: center;
	text-decoration: none;
	margin:30px;
}

.content ul{
	text-align: center;
	list-style-type: none;
	padding: 0 20px;
}

.content ul li{
	margin: 20px;
}

.content ul li a{
	font-size: 20px;
    color: black;
	text-decoration: none;
	padding: 0 20px;
}

.content ul iframe{
	height: 360px;
	width: 330px;
}

h1 {
	font-size: 30px;
    color: black;
	text-align: center;
	text-decoration: none;
	padding: 30px;
	margin-bottom: 10px;
}

.text_border {
	border-style: dotted;
    border-width: 4px;
	margin-left: 300px;
	margin-right:300px;
}